<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title = 'Archiwum')">
    <title>
    </title>
</head>
<body>
<header th:replace="fragments::header(header = 'Kalendarz zadań')"></header>
<main class="container">
    <nav th:replace="fragments::nav"></nav>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Termin</th>
            <th scope="col">Kategoria</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task: ${tasks}">
            <td th:text="${task.name}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.deadline}"></td>
            <td th:text="${task.taskCategory}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>